@font-face {
    font-family: titania;
    src: url(../fonts/Titania-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'titania', sans-serif;
}

body{
    background-color: #191414;
    color: white;
    background-repeat: no-repeat;
    background-position: top;
}