@font-face {
    font-family: OrbitronLight;
    src: url(OrbitronLight.ttf);
}

body{
    font-family: OrbitronLight;
    background-image: url(./img/home.jpg);
    background-position: center top;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.container{
    margin-top: 250px;
}

p{
    font-size: 40px;
}

.button a{
    font-family: OrbitronLight;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: #1c1c1c;
    padding: 10px;
}

.button a:hover{
    cursor: pointer;
    color: #35f4a6;
    border: 2px solid #35f4a6;
}

@media only screen and (max-width: 480px) {
    .container{
        margin-top: 100px;
    }
}