.navWindow{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navWindow a{
    color: white;
    text-decoration: none;
}

.navWindow a:hover{
    color: #35f4a6;
}

.link{
    padding: 10px;
}