.cards{
    margin-top: 5%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b"
    "c c";
    
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.interested{
    grid-area: c;
    text-align: center;
}

.card{
    height: 100%;
    width: 80%;
    border: 2px solid white;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #1c1c1c;
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a c";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% 30% 40%;
}

.description{
    grid-area: b;
    padding: 10px;
}

.title{
    font-size: 20px;
}

.description p{
    font-size: 14px;
}

.card img{
    grid-area: a;
    height: 100%;
    width: 100%;
}

.card .buttons{
    grid-area: c;
}

.card .button{
    padding: 10px;
}

@media only screen and (max-width: 1024px) {
    .cards{
        display: grid;
        grid-template-areas: 
        "a"
        "b"
        "c";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .card{
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .card{
        display: grid;
        grid-template-areas: 
        "a a"
        "a a"
        "b c";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 60% 40%;
    }

    .card .button{
        font-size: 14px;
    }
    .card .button:first-child{
        margin-top: 15px;
    }
}