.card{
    height: 350px;
    width: 250px;
    border: 2px solid white;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #1c1c1c;
    display: grid;
    grid-template-columns: auto;
}

.card img{
    width: 225px;
    height: 200px;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

.title{
    font-size: 20px;
}